{% extends 'base.html' %}
{% block content %}
  <form hx-target="#languages_options" name="lang-form">
    {% csrf_token %}
    <div id="languages_options">{% include 'app1/partials/languages.html' %}</div>
    <button hx-post="/app1/partials/activate/" hx-include="[name='lang-form']">activate</button>
    <button hx-post="/app1/partials/disactivate/">disactivate</button>
  </form>
{% endblock %}
{% comment %}
{% extends 'base.html' %}
{% block content %}
  <form hx-post="/app1/partials/languages/" hx-target="#languages_options">
    {% csrf_token %}
    <div id="languages_options">{% include 'app1/partials/languages.html' %}</div>
    <button>activate</button>
  </form>
{% endblock %}
{% endcomment %}
