<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Django + htmx App{% endblock %}</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.10/dist/htmx.js"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <h1>{% block header %}Django + htmx App{% endblock %}</h1>
    </header>
    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
